/* // Copyright 2026 Natalie Baker // AGPLv3 // */

.toolbar-filter {
    display: flex;
    flex-direction: row;
}


.filter-form {

    .filter-group {
        .filter-group-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0.5ch;

            padding-bottom: 0.5em;

            .filter-group-header-text {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5ch;
                flex-grow: 1;

                &, .icon, .form-label {
                    cursor: pointer !important;
                }

                .icon {
                    aspect-ratio: 1;
                    height: 1em;
                    transform: rotate(0deg);
                    transition: transform 0.2s ease-in-out;

                    &.open {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .filter-group-body-container {
            outline: 1px solid var(--bs-gray-dark);
            border-radius: 0.5em;

            .filter-group-body {
                padding: 0.5em;
                
                display: grid;
                grid-auto-flow: row dense;
                grid-template-columns: repeat(auto-fill, minmax(12ch, 1fr));
                grid-auto-rows: 1fr;
                gap: 2ch;
                max-width: 100%;
            }
        }
    }

    .filter-toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5ch;
        flex: 1 0 0;

        .form-check {
            border-radius: 0.25em;
            padding-left: 2em;
            box-sizing: border-box;
            cursor: pointer;
            * { cursor: pointer; }

            border: 1px solid transparent;
            transition: 0.2s border-color;

            &:hover {
                border-color: var(--bs-light);
            }

            .form-check-label {
                display: flex;
                flex-direction: row;
                gap: 0.5ch;
                align-items: center;
            }
        }
    }

}