/* // Copyright 2026 Natalie Baker // AGPLv3 // */

#app {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1 1;
    
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 100%;
    min-height: 0;
}
